<div class="container col-12 text-center">
    <div class="container">
        <h2> Celebritie Detail</h2>
        <hr>
    </div>
    <div class="container">
        <p>Title: {{celebritie.name}}</p>
        <p> Genre: {{celebritie.occupation}}</p>
        <p> Plot: {{celebritie.catchPhrase}}</p>
    </div>
    <br>
    <div class="container mt-6">
        <a href="/" class="buttonBack">	&#10094 Home</a>
    </div>
</div>