<div class="container col-12 text-center">
    <div class="container">
        <h2>Movie Detail</h2>
        <hr>
    </div>
    <div class="container">
        <p>Title: {{movie.title}}</p>
        <p> Genre: {{movie.genre}}</p>
        <p> Plot: {{movie.plot}}</p>
        <p> Cast: {{movie.cast}}</p>
    </div>
    <br>
    <div class="container mt-6">
        <a href="/" class="buttonBack"> &#10094 Home</a>
    </div>
</div>